@media screen and (min-width: 768px) {
  .grid div {
    width: calc(50% - 20px);
  }
  img {
    width: 50%;
    height: 50%;
  }
  .goodReview {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .grid div {
    width: calc(25% - 20px);
  }
  img {
    width: 25%;
    height: 25%;
  }
}
