:root {
  /* Font sizes*/
  --h1: 2rem;
  --h2: 1.5rem;
  --p: 1rem;

  /* Colors*/
  --color-black: #000;
  --color-light-green: #f4fffc;
  --color-green: #c3ece1;
  --color-button: rgb(240, 193, 240);

  /* Font family*/
  --font-family-base: verdana, arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-green);
  font-family: var(--font-family-base);
  color: var(--color-black);
  margin: 0;
}

nav {
  background-color: var(--color-green);
  width: 100%;
}

button {
  background-color: var(--color-button);
  color: var(--color-black);
  padding: 25px;
}

footer {
  font-family: var(--font-family-base);
  background-color: var(--color-green);
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}
